.navbar {
    img {
        position: absolute;
        position: fixed;
        top: 2.6vh;
        left: 2vw;
        width: 16vw;
        height: auto;
    }
}

.navbar {
    h1 {
        font: 700 5rem variables.$font-secundary;
    }
}